<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APP_MENU_PATH" value=".\ui\Menu.xml" />
    <add key="APP_TEXT_PATH" value=".\ui\Text.xml" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>